[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PlotNormTest"]
	path = PlotNormTest
	url = https://github.com/huongtran53/plotnormtest
